%header
  -# .header
  -#   %p グループを作成しました
.contents
  .contents__left-content
    .contents__left-content--left-header
      %p.contents__left-content--left-header__left-header-text 
        = current_user.name
      = link_to edit_user_path(current_user) do
        = fa_icon "cog", class: "gear"
      = link_to new_group_path, method: :get do
        = fa_icon "pencil-square-o", class: "edit"

    .contents__left-content--left-box
      - current_user.groups.each do |group|
        = link_to group_messages_path(group)  do
          %p.contents__left-content--left-box__name 
            = group.name
        %p.contents__left-content--left-box__message メッセージはまだありません。
      -# %p.contents__left-content--left-box__sample-group sample-group
      -# %p.contents__left-content--left-box__hello hello! 
  .contents__right-content
    .contents__right-content--right-header
      .contents__right-content--right-header__test-edit
        %p.contents__right-content--right-header__test-edit--test test-group
        %div.contents__right-content--right-header__test-edit--edit 
          = link_to "Edit", "/"
        %p.contents__right-content--right-header__member Member : tky
    .contents__right-content--right-box
      %div.contents__right-content--right-box__test-date
        %p.contents__right-content--right-box__test-date--test test-user  
        %p.contents__right-content--right-box__test-date--date 2019/09/29(Sun) 15:42:32 
      %p.contents__right-content--right-box__hello こんにちは！
      %p.contents__right-content--right-box__test2 test-user
      %p.contents__right-content--right-box__date2 2019/09/29(Sun) 15:42:50 
      %p.contents__right-content--right-box__good-bye さようなら！

    .contents__right-content--form-box
      
      %form(action="/")
        .contents__right-content--form-box__form
          .contents__right-content--form-box__form--text
            %input.initial-message(type="text" placeholder="type a message")
            = fa_icon 'picture-o', class: "picture"
          .contents__right-content--form-box__form--submit   
            %input.send(type="submit" value="Send")
            