%header
  -# .header
  -#   %p グループを作成しました
.contents
  .contents__left-content
    .contents__left-content--left-header
      %p.contents__left-content--left-header__left-header-text 
        = current_user.name
        = link_to edit_user_path(current_user) do
          = fa_icon "cog", class: "gear"
        = link_to new_group_path, method: :get do
          = fa_icon "pencil-square-o", class: "edit"

    .contents__left-content--left-box
      - current_user.groups.each do |group|
        = link_to group_messages_path(group)  do
          .contents__left-content--left-box__name 
            = group.name
        .contents__left-content--left-box__message 
          = group.show_last_message  